<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>
<body>
    <%- include('../partials/navbar') %>
    <div class="about">
        <header>About</header>
        <p>
            Nini is originally from South Korea, but moved to New York
            City in 2017. Possessing a strong background in art/design, as well
            as a keen interest in culinary arts, she found her way to baking
            and quickly discovered she had a talent for it. Thus she started
            Nini's Cakes!
        </p>
        <p>
            Nini's Cakes provides handcrafted custom cakes, cookies, and other
            baked goods all from scratch. Her treats are perfect for birthdays,
            weddings, baby showers, and other life event celebrations. Nini's
            services are conveniently available for anyone in the NYC area.
            <a href="/quote">Request a Quote</a> today!
        </p>
    </div>
    <%- include('../partials/scripts') %>
</body>
</html>